# SayqalSMS configuration
SAYQAL_USERNAME=your_username
SAYQAL_TOKEN=your_token
SAYQAL_NICKNAME=your_nickname

# Firebase configuration
FIREBASE_SERVER_KEY=your_firebase_server_key

# Database configuration
DATABASE_URL=postgresql://username:password@localhost:5432/dbname

# Django configuration
SECRET_KEY=your_secret_key
BASE_URL=http://localhost:8000
